/* ============================================
   Fuentes autoalojadas (variables, subset latin)
   Outfit · Inter · Space Grotesk — SIL Open Font License
   Servidas desde el propio dominio: sin peticiones a Google
   (rendimiento + privacidad RGPD).
   ============================================ */

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url('../fonts/outfit.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300 600;
  font-display: swap;
  src: url('../fonts/inter.woff2') format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('../fonts/space-grotesk.woff2') format('woff2');
}
